<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voyage</title>
    <script src="index.js"></script>
</head>

<body>
    <div>
        Choisir un véhicule :
        <select name="vehicules" onchange="updateContent(this, '<%= vehicules %>')">
            <% vehicules.forEach(function(v){ %>
                <option value="<%= v.name %>">
                    <%= v.name %>
                </option>
                <% }); %>
        </select>
        <div id="vehicules-content" class="vehicules-content">

        </div>
    </div>
</body>
<script>
    let vec_content = document.getElementById('vehicules-content');

    function findVehicule(vehicules, name) {
        for (v in vehicules) {
            if (v.name === name) {
                return v;
            }
        }
        return null;
    }

    function updateContent(select, vehicules) {
        let name = select.value;
        vehicule = findVehicule(vehicules, name);
        console.log(vehicule)
    }
</script>

</html>